.title {
    text-align: center;
    background-color: rgb(127, 158, 107);
    color: rgb(66, 80, 70);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 100px;
    padding: 50px;
    font-size: 50px;
}

.recipe {
    margin-left: 100px;
}