.title {
    text-align: center;
    background-color: rgb(127, 158, 107);
    color: rgb(66, 80, 70);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
    padding: 50px;
    font-size: 50px;
    border-radius: 10px;
}

.recipe {
    margin: 10px;
    border: 2px solid forestgreen;
    padding: 12px;
    border-radius: 5px;
    background-color: rgb(144, 163, 131);
    color: forestgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.recipe-container {
    display:flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

body {
    background-color: lightsteelblue;
    margin: ;
}

img {
    border-radius:10px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

